@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
}

.section.header {
  position: relative;
  z-index: 1;
}

.header-bg {
  position: absolute;
  background-image: url("./images/cristofer-maximilian-uQDRDqpYJHI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 50%;
}

.header-logo-slate {
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10em;
  width: 100%;
}

.header-logo {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.header-company-name {
  display: inline-block;
  text-align: left;
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 0.8em;
  padding-top: 0.18em;
  max-width: 4.3em;
  max-height: 1.5em;
}

.header-tagline {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 0.86em;
  padding-top: 0.15em;
  padding-left: 0.16em;
}

.section.content {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(240, 237, 235), rgb(238, 231, 228));
  max-width: 100vw;
  color: rgb(65, 61, 58);
}

.section.text {
  padding: 40px;
  max-width: 100vw;
}

.section.text > p {
  font-size: 1.5rem;
  font-weight: 600;
}

.section.text :nth-child(1) {
  margin-bottom: 16px;
}

.sign-up {
  background-color: rgb(250, 249, 248);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.137);
  padding: 20px 40px 20px;
  margin-bottom: 45px;
}

.sign-up > p:nth-of-type(1) {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.required {
  color: rgb(230, 84, 0);
}

.sign-up > .required-field {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.sign-up-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px 80px;
  max-width: 560px;
  margin-bottom: 30px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.form-item label {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
}

.form-item > input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  outline: 0 solid rgba(0,0,0,0);
  padding: 7px;
  font-size: 14px;
  transition: background-color 0.5s, border 0.5s, outline 0.5s;
}

.form-item > input:focus {
  outline: 1px solid #53ceff;
  transition: outline 0.5s;
}

.form-item > input:valid {
  transition: background-color 0.5s, border 0.5s, outline 0.5s;
}

.form-item > input:invalid {
  transition: background-color 0.5s, border 0.5s, outline 0.5s;
}

.form-item > input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(139, 195, 74, 0.05);
  border: 1px solid #8BC34A;
}

.form-item > input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(185, 35, 38, 0.02);
  border: 1px solid #c34a4a;
  box-shadow: none;
}

.form-item > input:not(:focus):not(:placeholder-shown).default {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
}

.form-item > input:not(:focus):not(:placeholder-shown).valid {
  background-color: rgba(139, 195, 74, 0.05);
  border: 1px solid #8BC34A;
}

.form-item > input:not(:focus):not(:placeholder-shown).invalid {
  background-color: rgba(185, 35, 38, 0.02);
  border: 1px solid #c34a4a;
  box-shadow: none;
}

.feedback {
  position: absolute;
  top: 4em;
  line-height: 1;
  color: #c34a4a;
  font-size: 0.75rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.7s;
}

.section.sign-up-submit {
  position: relative;
  z-index: 1;
  margin: 0px 0px 40px 40px;
}

.section.sign-up-submit button:disabled {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(148, 54, 0, 0.5);
  border: 1px solid rgba(196, 72, 0, 0.2);
  background-color: rgba(230, 84, 0, 0.5);
}

.section.sign-up-submit button {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgb(148, 54, 0);
  border: 1px solid rgb(196, 72, 0);
  border-radius: 8px;
  background-color: rgb(230, 84, 0);
  margin-bottom: 25px;
  width: 50%;
  max-width: 240px;
  height: 50px;
  transition: background-color 0.7s;
}

.section.sign-up-submit button:not(:disabled):hover {
  background-color: rgb(240, 136, 0);
}

.section.sign-up-submit button:not(:disabled):active {
  background-color: rgb(255, 193, 59);
  transition: background-color 0.3s;
}

.log-in {
  font-weight: 500;
}

footer {
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 20px;
}

footer > .credit {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3em;
  white-space: nowrap;
  text-shadow: none;
}

a {
  color: rgb(230, 84, 0);
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}

a:hover {
  text-decoration-color: rgb(230, 84, 0);
  -webkit-text-decoration-color: rgb(230, 84, 0);
  -moz-text-decoration-color: rgb(230, 84, 0);
}


/* Mobile */
@media only screen and (max-width: 520px) {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .section.header {
    height: 300px;
    width: 100vw;
  }

  .header-logo-container {
    width: 100%;
    transform: translate(0, -50%);
  }

  .header-logo-slate {
    height: 132%;
  }

  .header-logo {
    width: 100vw;
    gap: 0.8vw;
  }

  .diamond-svg {
    width: 25.8vw;
    height: auto;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
  }

  .header-company-name {
    font-size: 12.2vw;
    padding-top: 1vw;
  }

  .header-tagline {
    font-size: 4.3vw;
  }

  .section.content {
    background-image: linear-gradient(to bottom, rgb(240, 237, 235), rgb(230, 224, 221));
  }
}

/* Tablet */
@media only screen and (min-width: 521px) and (max-width: 960px) {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .section.header {
    height: 300px;
    width: 100%;
  }

  .header-logo-container {
    transform: translate(0, -50%);
  }

  .header-logo {
    transform: scale(1.1);
  }

  .diamond-svg {
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
  }
  
  .section.content {
    background-image: linear-gradient(to bottom, rgb(240, 237, 235), rgb(230, 224, 221));
    min-height: 100vh;
    width: 100%;
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .page {
    display: flex;
    flex-direction: row;
  }

  .section.header {
    width: 70vw;
    min-width: 440px;
    min-height: 100vh;
  }

  .credit {
    top: 94%;
  }
  
  .section.content {
    min-height: 100%;
    width: 100vw;
  }

  .diamond-svg {
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
  }

  .header-logo-container {
    top: 25%;
  }
}